In [3]:
# leave days
leave_days = 0

In [4]:
leave_days = leave_days + 1
print(leave_days)

1

In [5]:
#increment variable by value
leave_days +=1
print(leave_days)

2

In [6]:
#decrement variable by value
leave_days -=1
print(leave_days)

1

In [8]:
# if statements
leave_days = 21
# use boolean
take_leave = True
# decided to take leave
if take_leave : # condition
    # if condition is met
    leave_days -= 1
print(leave_days)

20

In [10]:
age = 20
if age > 18: # condition
    print("You can have id")

You can have id

In [11]:
#condition
age > 18

True

In [12]:
# if else statement to determine if students have passed or failed
score = 45

# because the score is above 40, then only the if statement will be executed
if score > 40:
    outcome = "pass" # code to execute if statement is True
    print(outcome) # code to execute when if statement is true
# when student has scored 40 or below
else:
    outcome = "fail"
    print(outcome)

pass

In [ ]:
# when student has scoed below 40

In [ ]:
## And
* Used to join two or more conditions
* Example students who have scored above 40 but below 50 are said to have attained grade D
* **Note** for and statements, all the conditions have to be True for the condition to be True

In [14]:
age = 12
gender = "Male"

if (age < 18) and (gender == "Male"): # both the two conditions have to be true
    print("Boy")

Boy

In [16]:
# if one condition is met
age = 19
gender = "Male"

if (age < 18) and (gender == "Male"): # both the two conditions have to be true
    print("Boy")

Summary for AND
|Condition 1|Condition 2|Final Condition|
|:---------:|:---------:|:-------------:|
|True|True|True|
|True|False|False|
|False|True|False|
|False|False|False|

above 40 >> D
above 50 >> C
above 60 >> B
above 70 >> A
below 40 >> fail

In [20]:
# grades
grade = 67
if grade >= 40 and (grade < 50): # student score btwn 40 and 49
    grade = "D"
    print(grade)
    
# elif statement (else if)
elif (grade >= 50) and (grade < 60): # student score btwn 50 and 59
    grade = "C"
    print(grade)
elif (grade >= 60) and (grade < 70):
    grade = "B"
    print(grade)
elif (grade >= 70):
    grade = "A"
    print(grade)
    
else:
    print("Fail")

B

## OR
* Just like and is used to join conditions
* Atleast one condition should be True

In [21]:
height = 45
weight = 20
if (height < 40) or (weight < 50): # condition is true if either condition is met
    print("You can go into the bouncing castle")
# weight has met the criteria
# height has not met criteria

You can go into the bouncing castle

In [22]:
height = 65
weight = 90
if (height < 40) or (weight < 50): # condition is true if either condition is met
    print("You can go into the bouncing castle")
else:#
    print("You will destroy the bouncing castle")
# weight has met the criteria
# height has not met criteria

You will destroy the bouncing castle

Summary of OR
|Condition 1|Condition 2|Final Condition|
|:---------:|:---------:|:-------------:|
|True|True|True|
|True|False|True|
|False|True|True|
|False|False|False|

In [23]:
# Qtn 1 whether number is EVEN or ODD
num = 18
if (num % 2) == 0:
    print("The number is even")
else:
    print(" The number is odd")

The number is even

In [24]:
# Qtn 2 whether a given year is a leap year
year = 2000

if((year % 400 ==0) or
   (year % 100 !=0) and
   (year % 4 ==0)):
    print("Given Year is a leap year")
# Else it is not a leap year

else:
    print("Given Year is not a leap year")

Given Year is a leap year

Age < 13  price Ksh 400
13 <= Age <=17 Ksh 600
18 <= Age 65 <= Ksh 800
Age > 65 Ksh 350

In [25]:
# Qtn 3 program tht will use age to determine price of a movie 
age = 67
if age < 13 : # age less than 13
    price = "Ksh 400"
    print(price)
    
# elif statement (else if)
elif (age >= 13) and (age <= 17): # age btwn 13 and 16
    price = "Kshs 600"
    print(price)
elif (age >= 18) and (age <= 65):
    price = "Kshs 800"
    print(price)
elif (age >= 65):
    price = "Kshs 350"
    print(price)
    
else:
    print("Not Applicable")

Kshs 350